@import '../../global.scss';

.button {
  border-radius: $borderRadiusSmall;

  padding: 0.7rem;
  margin: 0.7rem;
  cursor: pointer;
  text-decoration: none;
  min-width: 100px;
  max-width: 400px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;

  &.primary {
    background-color: $color1;
    color: $color6;

    &:hover {
      background-color: $color5;
      color: $color1;
    }
  }

  &.secondary {
    background-color: transparent;
    color: $color1;
    border: $btnBorderSize solid $color1;

    &:hover {
      background-color: $color1;
      color: $color6;
      border: $btnBorderSize solid transparent;
    }
  }
}
