@import '../../global.scss';

.wrapper {
  width: 100%;
  background-color: $color2;
  padding: 3rem 0;

  h2 {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
