@import '../../global.scss';

.wrapper {
  width: 100%;
  background-color: $color2;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .btnWrapperTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btnWrapperBottom {
    button {
      color: $color5;
      border: $color5 $btnBorderSize solid;

      &:hover {
        color: $color6;
        border: $color6 $btnBorderSize solid;
        background-color: transparent;
      }
    }
  }
}
