@import '../../global.scss';

.wrapper {
  width: 100%;
  height: $footerHeight;
  position: absolute;
  bottom: 0;
  padding: 0 5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* VACA logo */
  img {
    width: max-content;
  }

  ul {
    display: flex;

    li {
      list-style: none;
      margin: 0 1rem;

      a {
        color: $color6;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: $mediumScreen) {
    padding: 0 3rem;
  }

  @media (max-width: $smallScreen) {
    height: $footerHeightSmallScreen;
    flex-direction: column;
    padding: 4rem 0;

    ul {
      flex-direction: column;

      li {
        margin: 0.4rem 0;
      }
    }
  }
}
