@import '../../global.scss';

li.wrapper {
  width: 400px;
  padding: 0;
  margin: 1.5rem;
  list-style: none;

  .textWrapper {
    padding: 0.5rem;

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    h3 {
      text-align: start;
      font-weight: 500;
    }
  }

  .imgWrapper {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      min-height: 100%;
      min-width: 100%;
    }
  }
}
