@import '../../global.scss';

li.wrapper {
  $imageWidth: 300px;

  width: $imageWidth;
  padding: 0;
  margin: 1.5rem;
  list-style: none;

  .textWrapper {
    padding: 0.5rem;

    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    h3 {
      text-align: start;
      font-weight: 500;
    }
  }

  .imgWrapper {
    height: $imageWidth;
    width: $imageWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      position: relative;
      bottom: calc($imageWidth * 0.1);
      transform: scale(1.4); 
      min-width: 100%;
    }
  }
}
