// misc
$borderRadiusSmall: 3px;

// breakpoints
$smallScreen: 576px; // portrait phones
$mediumScreen: 768px; // tablets
$mediumLargeScreen: 992px; // laptops
$largeScreen: 1200px; // large devices

// colors
$darkGray: #494949;
