// misc
$borderRadiusSmall: 3px;

// breakpoints
$smallScreen: 576px; // portrait phones
$mediumScreen: 768px; // tablets
$mediumLargeScreen: 992px; // laptops
$largeScreen: 1200px; // large devices

// colors 
$color1: white;
$color2: #dedede;
$color3: #b8b8b8;
$color4: #5f5f5f;
$color5: #494949;
$color6: black;

// footer
$footerHeight: 120px;
$footerHeightSmallScreen: 300px;

// button
$btnBorderSize: 2px;